/Laboratorio8 (1)/Laboratorio8/build/
/Laboratorio8 (1)/Laboratorio8/nbproject/private/
Laboratorio8/src/laboratorio8/Menu_Principal.form
Laboratorio8/src/laboratorio8/Menu_Principal.java
Laboratorio8/src/laboratorio8/Registro.form
Laboratorio8/src/laboratorio8/Registro.java
